@use 'variaveis' as *;

//reset
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//html
html {
    scroll-behavior: smooth;
    font-size: 16px;
}

//estilo global
body {
    font-family: $fonte-padrao;
    background-color: $cor-bg-escuro;
    color: $cor-texto-claro;
    line-height: 1.6;
    overflow-x: hidden;
}

//titulos
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fonte-destaque;
    font-weight: 700;
    color: $cor-branco;
    line-height: 1.2;
}

//imagens
img {
    max-width: 100%;
    height: auto;
    display: block;
}

//links
a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

//container padrão
.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 ($espacamento-base);
}