    // Paleta Escura
    $cor-bg-escuro: #0A1317;
    $cor-bg-secundario: #14353E;
    $cor-card-escuro: #0D1F24;
    $cor-borda-escura: #1E4E5B;

    //Paleta Clara
    $cor-bg-claro: #EEF3F2;
    $cor-branco: #FFFFFF;
    $cor-borda-clara: #D5DEDC;

    //Destaques e Acentos
    $cor-ciano: #41EAD4;
    $cor-ciano-hover: #80FFDB;
    $cor-roxo: #A06CD5;
    $cor-roxo-forte: #6E44FF;

    //Tipografia e Cores de Texto
    $cor-texto-claro: #E2E8F0;
    $cor-texto-mutado: #CBD5E1;
    $cor-texto-secundario: #94A3B8;
    $cor-texto-escuro: #334155;
    $cor-texto-escuro-suave: #64748B;
    $cor-texto-destaque: #0F2F36;

     //Fontes
    $fonte-padrao: 'Inter', Arial, Helvetica, sans-serif;
    $fonte-destaque: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;

    //Espaçamentos base
    $espacamento-base: 20px;
    $espacamento-secao: 80px;